* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

* {
    scrollbar-width: 10px;          
    scrollbar-color: #c74582 #e980b1;
}

body::-webkit-scrollbar {
    width: 6px;
}

body::-webkit-scrollbar-track {
    background: transparent;
}

body::-webkit-scrollbar-thumb {
    background-color: #c74582;
    border-radius: 10px;
}

/* HEADER - STYLES */
.header {
    background-color: #FDB3D5;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.header__caixa {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    border-bottom: 2px solid #000;
}

.header__caixa img{
    width: 45%;
}

.header__nav {
    display: flex;
    column-gap: 30px;
    font-size: 23px;
    flex-wrap: wrap;
}

.header__nav a {
    padding: 21px 0;
    padding-right: 30px;
    border-right: 2px solid #000;
    color: rgb(55, 140, 180);
    position: relative;
}

.header__nav a:last-child {
    border: none;
}

.header__nav a::after {
    content: "";
    position: absolute;
    width: 85%;
    height: 2.5px;
    bottom: 15px;
    left: 0;
    background-color: rgb(55, 140, 180);
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
}

.header__nav a:hover::after {
    visibility: visible;
    transform: scaleX(1);
}

.header__nav .ativo::after {
    visibility: visible;
    transition: 0;
    transform: scaleX(1);

}

/* FORMULÁRIO - STYLES */

.texto-contato {
    text-align: center;
    margin: 50px auto;
    font-size: 30px;
}

.formulario {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 400px;
    margin: 50px auto;
    gap: 30px;
    padding: 30px;
    border: 1px solid #000;
    border-radius: 15px;
    box-shadow: 4px 4px 20px #000;
}

.formulario__input {
    border: none;
    padding: 12px;
    background-color: #b3dcfd;
    border-radius: 5px;
    color: #000;
    outline: none;
}

.formulario__input::placeholder {
    color: #3f3c3c;
}

.formulario__caixa {
    margin-top: 16px;
    display: flex;
    justify-content: space-around;
}

.formulario__caixa button {
    border: none;
    padding: 15px;
    border-radius: 10px;
    width: 120px;
    cursor: pointer;
    transition: 0.4s;
    font-size: 16px;
}

.enviar {
    background-color: rgb(227, 125, 84);
}

.enviar:hover {
    background-color: rgb(202, 95, 53);
    transform: scale(1.05);
}

.limpar {
    background-color: rgb(92, 98, 203);
}

.limpar:hover {
    background-color: rgb(53, 60, 202);
    transform: scale(1.05);
}

.certo, .erro {
    position: fixed;
    top: 40px;
    left: 0;
    padding: 23px 0 0 2px;
    width: 23vw;
    font-size: 18px;
}

.certo {
    background-color: #40ca70;
}


.certo::after {
    content: '';
    background-color: #00ff59;
    animation: animate-width 3s ease-out;
    display: block;
    height: 8px;
    margin-top: 5px;
    padding: 0;
}

.erro {
    background-color: #c23c32;
}

.erro::after {
    content: '';
    background-color: #f71000;
    animation: animate-width 3s ease-out;
    display: block;
    height: 8px;
    margin-top: 5px;
    padding: 0;
}

@keyframes animate-width {
    from{
        width: 0%;
    }
    to{
        width: 100%;
    } 
}

.secao-tabela {
    margin-top: 150px;
}

.tabela {
    margin: 60px auto;
    text-align: center;
}

.tabela-head {
    background-color: #FDB3D5;
}

.tabela-head td {
    font-size: 21px;
    font-weight: 700;
    padding: 5px;
}

.tabela-body td {
    width: 300px;
    padding: 10px;
    background-color: #ebe1e1;
}

.tabela-body img {
    border-radius: 50%;
    width: 50px;
}


/* FOOTER - STYLES */

.rodape {
    background-color: #FDB3D5;
    border-top: 1px solid #000;
    padding: 35px 0 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
}

.rodape__redes {
    display: flex;
    gap: 15px;
    justify-content: center;
}

.rodape__redes a {
    padding: 8px;
    font-size: 1.2rem;
    border-radius: 5px;
    color: black;
    background-color: rgb(33, 151, 206);
    transition: 0.4s;
}

.rodape__redes a:hover {
    background-color: rgb(0, 47, 255);
}

.rodape__link {
    font-size: 23px;
    color: #000;
}